In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sqlite3

workflow:
1. you need to establish a connection to the sqlite database by creating a connection.
2.then, you have to create a cursor using the cursor() method.

In [2]:
# create a connection
conn = sqlite3.connect('movies.sqlite')

In [3]:
cur = conn.cursor()

In [4]:
## tables in my database
cur.execute("select name from sqlite_master where type='table'")

In [5]:
a = cur.fetchall()

In [6]:
a

[('movies',), ('sqlite_sequence',), ('directors',)]

In [7]:
cur.execute('select * from movies')

In [8]:
data = cur.fetchall()

In [9]:
pd.DataFrame(data)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4768,48395,El Mariachi,220000,14,1992-09-04,2040920,El Mariachi,6.6,238,El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...",9367,5097
4769,48396,Newlyweds,9000,0,2011-12-26,0,Newlyweds,5.9,5,A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,72766,6485
4770,48397,"Signed, Sealed, Delivered",0,1,2013-10-13,0,"Signed, Sealed, Delivered",7.0,6,"""Signed, Sealed, Delivered"" introduces a dedic...",None,231617,7108
4771,48398,Shanghai Calling,0,0,2012-05-03,0,Shanghai Calling,5.7,7,When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,126186,7109
4772,48399,My Date with Drew,0,1,2005-08-05,0,My Date with Drew,6.3,16,Ever since the second grade when he first saw ...,None,25975,7110

In [10]:
a = cur.execute('select * from movies')
names = a.description

In [11]:
names

(('id', None, None, None, None, None, None),
 ('original_title', None, None, None, None, None, None),
 ('budget', None, None, None, None, None, None),
 ('popularity', None, None, None, None, None, None),
 ('release_date', None, None, None, None, None, None),
 ('revenue', None, None, None, None, None, None),
 ('title', None, None, None, None, None, None),
 ('vote_average', None, None, None, None, None, None),
 ('vote_count', None, None, None, None, None, None),
 ('overview', None, None, None, None, None, None),
 ('tagline', None, None, None, None, None, None),
 ('uid', None, None, None, None, None, None),
 ('director_id', None, None, None, None, None, None))

In [12]:
lst = []
for i in names:
    lst.append(i[0])

In [13]:
lst

['id',
 'original_title',
 'budget',
 'popularity',
 'release_date',
 'revenue',
 'title',
 'vote_average',
 'vote_count',
 'overview',
 'tagline',
 'uid',
 'director_id']

In [14]:
movies = pd.DataFrame(data)

In [15]:
movies.columns = lst

In [16]:
movies

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4768,48395,El Mariachi,220000,14,1992-09-04,2040920,El Mariachi,6.6,238,El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...",9367,5097
4769,48396,Newlyweds,9000,0,2011-12-26,0,Newlyweds,5.9,5,A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,72766,6485
4770,48397,"Signed, Sealed, Delivered",0,1,2013-10-13,0,"Signed, Sealed, Delivered",7.0,6,"""Signed, Sealed, Delivered"" introduces a dedic...",None,231617,7108
4771,48398,Shanghai Calling,0,0,2012-05-03,0,Shanghai Calling,5.7,7,When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,126186,7109
4772,48399,My Date with Drew,0,1,2005-08-05,0,My Date with Drew,6.3,16,Ever since the second grade when he first saw ...,None,25975,7110

In [17]:
cur.execute('select * from directors')

In [18]:
data = cur.fetchall()

In [19]:
a = cur.execute('select * from directors')
names = a.description

In [20]:
names

(('name', None, None, None, None, None, None),
 ('id', None, None, None, None, None, None),
 ('gender', None, None, None, None, None, None),
 ('uid', None, None, None, None, None, None),
 ('department', None, None, None, None, None, None))

In [21]:
lst = []
for i in names:
    lst.append(i[0])

In [22]:
directors = pd.DataFrame(data)

In [23]:
directors.columns = lst

In [24]:
directors

                   name    id  gender      uid department
0         James Cameron  4762       2     2710  Directing
1        Gore Verbinski  4763       2     1704  Directing
2            Sam Mendes  4764       2       39  Directing
3     Christopher Nolan  4765       2      525  Directing
4        Andrew Stanton  4766       2        7  Directing
...                 ...   ...     ...      ...        ...
2344      Shane Carruth  7106       2    76624  Directing
2345   Neill Dela Llana  7107       0  1174437  Directing
2346        Scott Smith  7108       0  1219158  Directing
2347        Daniel Hsia  7109       2   208138  Directing
2348   Brian Herzlinger  7110       2    85563  Directing

[2349 rows x 5 columns]

In [25]:
## check how many movies are present in imdb dataset
cur.execute('select count(id) from movies')
cur.fetchall()

[(4773,)]

In [26]:
### find the data of three directors : James Cameron, Luc Besson, John woo
### find all the directors with name starting with Steven
## which movies are directed by Brenda Chapman?
## name the director who has made higher number of movies.
##  which director have the highest budget in total

In [27]:
cur.execute("select * from directors where name in ('James Cameron', 'Luc Besson', 'John Woo')")

In [28]:
cur.fetchall()

[('James Cameron', 4762, 2, 2710, 'Directing'),
 ('John Woo', 4893, 2, 11401, 'Directing'),
 ('Luc Besson', 4949, 2, 59, 'Directing')]

In [29]:
cur.execute("select * from directors where name like 'Steven%'")
cur.fetchall()

[('Steven Spielberg', 4799, 2, 488, 'Directing'),
 ('Steven Soderbergh', 4909, 2, 1884, 'Directing'),
 ('Steven Brill', 5013, 2, 32593, 'Directing'),
 ('Steven Zaillian', 5117, 2, 2260, 'Directing'),
 ('Steven Quale', 5216, 2, 93214, 'Directing'),
 ('Steven Seagal', 5221, 2, 23880, 'Directing'),
 ('Steven E. de Souza', 5390, 2, 1726, 'Directing'),
 ('Steven Shainberg', 5803, 2, 67795, 'Directing'),
 ('Steven R. Monroe', 6713, 2, 88039, 'Directing')]

In [30]:
cur.execute("select id as director_id from directors where name like 'Steven%'")
a = cur.fetchall()

In [31]:
lst = []
for i in a:
    lst.append(i[0])

In [32]:
lst

[4799, 4909, 5013, 5117, 5216, 5221, 5390, 5803, 6713]

In [33]:
cur.execute("Select * from movies where director_id in (4799, 4909, 5013, 5117, 5216, 5221, 5390, 5803, 6713)")

In [34]:
pd.DataFrame(cur.fetchall(), columns=movies.columns)

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43650,Indiana Jones and the Kingdom of the Crystal S...,185000000,75,2008-05-21,786636033,Indiana Jones and the Kingdom of the Crystal S...,5.7,2495,"Set during the Cold War, the Soviets â€“ led by ...",The adventure continues . . .,217,4799
1,43772,The BFG,140000000,44,2016-06-01,183345589,The BFG,6.0,1000,The BFG is no ordinary bone-crunching giant. H...,The world is more giant than you can imagine.,267935,4799
2,43782,War of the Worlds,132000000,48,2005-06-28,591739379,War of the Worlds,6.2,2322,Ray Ferrier is a divorced dockworker and less-...,They're already here.,74,4799
3,43787,The Adventures of Tintin,130000000,89,2011-10-25,371940071,The Adventures of Tintin,6.7,2061,"Intrepid young reporter, Tintin and his loyal ...","This year, discover how far adventure will tak...",17578,4799
4,43844,Ocean's Twelve,110000000,76,2004-12-09,362744280,Ocean's Twelve,6.4,2124,Danny Ocean reunites with his old flame and th...,Twelve is the new eleven.,163,4909
5,43872,Minority Report,102000000,65,2002-06-20,358372926,Minority Report,7.1,2608,John Anderton is a top 'Precrime' cop in the l...,The system is perfect until it comes after you.,180,4799
6,43960,A.I. Artificial Intelligence,100000000,34,2001-06-29,235926552,A.I. Artificial Intelligence,6.8,1974,"A robotic boy, the first programmed to love, D...",David is 11 years old. He weighs 60 pounds. He...,644,4799
7,43985,Ocean's Eleven,85000000,60,2001-12-07,450717150,Ocean's Eleven,7.2,3783,"Less than 24 hours into his parole, charismati...",Are you in or out?,161,4909
8,43995,Ocean's Thirteen,85000000,42,2007-06-07,311312624,Ocean's Thirteen,6.5,1999,Danny Ocean's team of criminals are back and c...,What are the odds of getting even? 13 to one.,298,4909
9,44068,Little Nicky,85000000,18,2000-11-10,0,Little Nicky,5.2,438,After the lord of darkness decides he will not...,He's Never Been To Earth. He's Never Even Slep...,9678,5013
10,44105,The Lost World: Jurassic Park,73000000,2,1997-05-23,229074524,The Lost World: Jurassic Park,6.2,2487,Four years after Jurassic Park's genetically b...,Something has survived.,330,4799
11,44118,The Terminal,60000000,57,2004-06-17,219417255,The Terminal,7.0,1910,Viktor Navorski is a man without a country; hi...,Life is waiting.,594,4799
12,44125,Munich,70000000,29,2005-12-22,130358911,Munich,6.9,696,"During the 1972 Olympic Games in Munich, eleve...",The world was watching in 1972 as 11 Israeli a...,612,4799
13,44169,Hook,70000000,33,1991-12-11,300854823,Hook,6.6,1532,The boy who wasn't supposed to grow upâ€”Peter P...,What if Peter Pan grew up?,879,4799
14,44182,War Horse,66000000,29,2011-12-25,177584879,War Horse,7.0,992,Follows a young man named Albert and his horse...,Separated by War. Tested by Battle. Bound by F...,57212,4799
15,44225,Saving Private Ryan,70000000,76,1998-07-24,481840909,Saving Private Ryan,7.9,5048,"As U.S. troops storm the beaches of Normandy, ...",The mission is a man.,857,4799
16,44230,Lincoln,65000000,36,2012-11-09,275293450,Lincoln,6.7,1429,A revealing drama that focuses on the 16th Pre...,With the moral courage and fierce determinatio...,72976,4799
17,44272,Jurassic Park,63000000,40,1993-06-11,920100000,Jurassic Park,7.6,4856,A wealthy entrepreneur secretly creates a them...,An adventure 65 million years in the making.,329,4799
18,44317,Contagion,60000000,38,2011-09-08,137551594,Contagion,6.2,1325,As an epidemic of a lethal airborne virus - th...,Nothing spreads like fear,39538,4909
19,44326,A Civil Action,70000000,10,1998-03-05,56702901,A Civil Action,6.1,109,Jan Schlickmann is a cynical lawyer who goes o...,Justice has its price.,9422,5117
20,44469,All the King's Men,55000000,7,2006-09-10,9450897,All the King's Men,5.7,95,The story of an idealist's rise to power in th...,Some people will do anything to gain power. So...,1717,5117
21,44480,Catch Me If You Can,52000000,73,2002-12-25,352114312,Catch Me If You Can,7.7,3795,"A true story about Frank Abagnale Jr. who, bef...",The true story of a real fake.,640,4799
22,44504,Mr. Deeds,50000000,18,2002-06-28,171269535,Mr. Deeds,5.6,644,"When Longfellow Deeds, a small-town pizzeria o...","Small town kid, big time right hook.",2022,5013
23,44506,Erin Brockovich,52000000,30,2000-03-17,256271286,Erin Brockovich,7.1,716,A twice-divorced mother of three who sees an i...,She brought a small town to its feet and a hug...,462,4909
24,44548,Into the Storm,50000000,20,2014-08-06,160602194,Into the Storm,5.8,817,The town of Silverton is in one day destroyed ...,Prepare to go,216282,5216
25,44556,On Deadly Ground,50000000,9,1994-02-18,49000000,On Deadly Ground,4.5,104,Forrest Taft is an environmental agent who wor...,His Battle To Save The Alaskan Wilderness And ...,9624,5221
26,44602,Traffic,48000000,25,2000-12-27,207515725,Traffic,6.9,562,An exploration of the United States of America...,No one gets away clean,1900,4909
27,44603,Indiana Jones and the Last Crusade,48000000,80,1989-05-24,474171806,Indiana Jones and the Last Crusade,7.6,3152,When Dr. Henry Jones Sr. suddenly goes missing...,"The man with the hat is back. And this time, h...",89,4799
28,44618,Out of Sight,48000000,16,1998-06-26,77745568,Out of Sight,6.5,333,"Meet Jack Foley, a smooth criminal who bends t...",Opposites attract.,1389,4909
29,44784,Bridge of Spies,40000000,48,2015-10-15,165478348,Bridge of Spies,7.2,2583,"During the Cold War, the Soviet Union captures...","In the shadow of war, one man showed the world...",296098,4799
30,44808,Amistad,36000000,3,1997-12-03,74000000,Amistad,6.8,316,"In 1839, the slave ship Amistad set sail from ...",Freedom is not given. It is our right at birth...,11831,4799
31,44821,Final Destination 5,47000000,38,2011-08-12,157887643,Final Destination 5,5.9,866,"In this fifth installment, Death is just as om...",We all share a common destination.,55779,5216
32,44825,Drillbit Taylor,40000000,15,2008-03-20,0,Drillbit Taylor,5.5,275,Three kids hire a low-budget bodyguard to prot...,You get what you pay for,8457,5013
33,45001,Street Fighter,35000000,19,1994-12-22,99423521,Street Fighter,4.1,325,Col. Guile and various other martial arts hero...,The fight to save the world is on!,11667,5390
34,45107,1941,35000000,10,1979-12-13,31755742,1941,5.6,143,It's been six days since the attack on Pearl H...,Paranoia meets pandemonium.,11519,4799
35,45120,The Good German,32000000,5,2006-12-08,5914908,The Good German,5.9,86,An American journalist played by George Cloone...,"If war is Hell, then what comes after?",182,4909
36,45174,Without a Paddle,19000000,8,2004-08-20,69631118,Without a Paddle,5.3,214,"Three friends, whose lives have been drifting ...","The call of the wild, the thrill of adventure....",10762,5013
37,45215,Side Effects,30000000,48,2013-02-07,63372757,Side Effects,6.4,1323,A woman turns to prescription medication as a ...,One pill can change your life.,109421,4909
38,45294,Indiana Jones and the Temple of Doom,28000000,66,1984-05-23,333000000,Indiana Jones and the Temple of Doom,7.1,2781,"After arriving in India, Indiana Jones is aske...",If adventure has a name... it must be Indiana ...,87,4799
39,45415,Schindler's List,22000000,104,1993-11-29,321365567,Schindler's List,8.3,4329,The true story of how businessman Oskar Schind...,"Whoever saves one life, saves the world entire.",424,4799
40,45599,Haywire,23000000,26,2011-11-06,33372606,Haywire,5.6,505,Mallory Kane is a highly trained operative who...,They left her no choice.,70435,4909
41,45628,The Informant!,22000000,17,2009-09-18,35424826,The Informant!,6.0,301,A rising star at agri-industry giant Archer Da...,Based on a tattle-tale.,11323,4909
42,45682,Raiders of the Lost Ark,18000000,68,1981-06-12,389925971,Raiders of the Lost Ark,7.7,3854,When Dr. Indiana Jones â€“ the tweed-suited prof...,Indiana Jones - the new hero from the creators...,85,4799
43,45684,Close Encounters of the Third Kind,20000000,52,1977-11-16,303788635,Close Encounters of the Third Kind,7.2,1098,"After an encounter with UFOs, a line worker fe...",We are not alone.,840,4799
44,46044,Fur: An Imaginary Portrait of Diane Arbus,16800000,4,2006-08-30,2281089,Fur: An Imaginary Portrait of Diane Arbus,5.8,73,In 1958 New York Diane Arbus is a housewife an...,A love story.,18615,5803
45,46117,The Color Purple,15000000,17,1985-12-18,146292009,The Color Purple,7.7,338,An epic tale spanning forty years in the life ...,It's about life. It's about love. It's about us.,873,4799
46,46406,Jaws,7000000,50,1975-06-18,470654000,Jaws,7.5,2542,An insatiable great white shark terrorizes the...,Don't go in the water.,578,4799
47,46564,E.T. the Extra-Terrestrial,10500000,56,1982-04-03,792910554,E.T. the Extra-Terrestrial,7.3,3269,After a gentle alien becomes stranded on Earth...,He is afraid. He is alone. He is three million...,601,4799
48,46603,Twilight Zone: The Movie,10000000,12,1983-06-24,29450919,Twilight Zone: The Movie,6.2,161,Four directors collaborated to remake four epi...,You're travelling through another dimension. A...,15301,4799
49,46671,The Limey,10000000,8,1999-05-15,3193102,The Limey,6.6,105,"The Limey follows Wilson (Terence Stamp), a to...",Vengeance knows no boundaries.,10388,4909
50,46938,Magic Mike,7000000,35,2012-06-28,167221571,Magic Mike,6.1,1040,"Mike, an experienced stripper, takes a younger...",Work all day. Work it all night.,77930,4909
51,47364,Secretary,4000000,19,2002-01-11,9304609,Secretary,6.7,376,"A young woman, recently released from a mental...",Assume the position.,11013,5803
52,47698,Full Frontal,2000000,1,2002-08-02,2506446,Full Frontal,4.8,26,"A contemporary comedy set in Los Angeles, Full...",Everybody Needs A Release,15186,4909
53,47792,I Spit on Your Grave,2000000,26,2010-06-17,572809,I Spit on Your Grave,6.3,519,A remake of the 1979 controversial cult classi...,It's Date Night,43947,6713
54,47887,"Sex, Lies, and Videotape",1200000,10,1989-08-18,0,"Sex, Lies, and Videotape",6.7,185,A sexually repressed woman's husband is having...,None,1412,4909

In [35]:
cur.execute("select title from movies left join directors on directors.id = movies.director_id where directors.name ='Brenda Chapman' ")

In [36]:
cur.fetchall()

[('Brave',)]

In [37]:
movies[movies['director_id']==4762]

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
25,43622,Titanic,200000000,100,1997-11-18,1845034188,Titanic,7.5,7562,"84 years later, a 101-year-old woman named Ros...",Nothing on Earth could come between them.,597,4762
279,43876,Terminator 2: Judgment Day,100000000,101,1991-07-01,520000000,Terminator 2: Judgment Day,7.7,4185,Nearly 10 years have passed since Sarah Connor...,It's nothing personal.,280,4762
282,43879,True Lies,115000000,38,1994-07-14,378882411,True Lies,6.8,1116,Harry Tasker is a secret agent for the United ...,"When he said I do, he never said what he did.",36955,4762
587,44184,The Abyss,70000000,24,1989-08-09,90000098,The Abyss,7.1,808,A civilian oil rig crew is recruited to conduc...,There's everything you've ever known about adv...,2756,4762
2403,46000,Aliens,18500000,67,1986-07-18,183316455,Aliens,7.7,3220,When Ripley's lifepod is found by a salvage cr...,This Time It's War,679,4762
3439,47036,The Terminator,6400000,74,1984-10-26,78371200,The Terminator,7.3,4128,"In the post-apocalyptic future, reigning tyran...",Your future is in his hands.,218,4762

In [38]:
cur.execute("select director_id, count(title) from movies group by director_id order by count(title) desc")

In [39]:
a = cur.fetchall()

In [40]:
a[0]

(4799, 27)

In [41]:
cur.execute("select name from directors inner join movies on directors.id = movies.director_id group by director_id order by count(title) desc")

In [42]:
cur.fetchall()

[('Steven Spielberg',),
 ('Woody Allen',),
 ('Clint Eastwood',),
 ('Martin Scorsese',),
 ('Spike Lee',),
 ('Robert Rodriguez',),
 ('Ridley Scott',),
 ('Renny Harlin',),
 ('Steven Soderbergh',),
 ('Oliver Stone',),
 ('Tim Burton',),
 ('Barry Levinson',),
 ('Joel Schumacher',),
 ('Ron Howard',),
 ('Robert Zemeckis',),
 ('Kevin Smith',),
 ('Francis Ford Coppola',),
 ('Brian De Palma',),
 ('Tony Scott',),
 ('Michael Bay',),
 ('Richard Linklater',),
 ('Joel Coen',),
 ('Rob Reiner',),
 ('Bobby Farrelly',),
 ('Chris Columbus',),
 ('Richard Donner',),
 ('Shawn Levy',),
 ('Sam Raimi',),
 ('Wes Craven',),
 ('Stephen Frears',),
 ('John Carpenter',),
 ('Paul W.S. Anderson',),
 ('John McTiernan',),
 ('David Fincher',),
 ('Tyler Perry',),
 ('Lasse HallstrÃ¶m',),
 ('Dennis Dugan',),
 ('Phillip Noyce',),
 ('M. Night Shyamalan',),
 ('Rob Cohen',),
 ('Brett Ratner',),
 ('Peter Jackson',),
 ('Alfred Hitchcock',),
 ('David Gordon Green',),
 ('Danny Boyle',),
 ('Neil Jordan',),
 ('Stephen Herek',),
 ('Donald Petrie',),
 ('Harold Ramis',),
 ('David O. Russell',),
 ('Garry Marshall',),
 ('Antoine Fuqua',),
 ('F. Gary Gray',),
 ('Ivan Reitman',),
 ('Adam Shankman',),
 ('Jay Roach',),
 ('Simon West',),
 ('Quentin Tarantino',),
 ('James Mangold',),
 ('Ang Lee',),
 ('Roland Emmerich',),
 ('Martin Campbell',),
 ('Marc Forster',),
 ('Bryan Singer',),
 ('Christopher Nolan',),
 ('James Ivory',),
 ('Malcolm D. Lee',),
 ('Gus Van Sant',),
 ('David Cronenberg',),
 ('Wes Anderson',),
 ('Curtis Hanson',),
 ('John Singleton',),
 ('Terry Gilliam',),
 ('Todd Phillips',),
 ('George A. Romero',),
 ('Peter Segal',),
 ('Frank Oz',),
 ('Frank Coraci',),
 ('Roger Donaldson',),
 ('Tim Story',),
 ('John Woo',),
 ('Guy Ritchie',),
 ('Paul Greengrass',),
 ('Edward Zwick',),
 ('Kenneth Branagh',),
 ('George Miller',),
 ('Wolfgang Petersen',),
 ('Jon Turteltaub',),
 ('Doug Liman',),
 ('Tom Shadyac',),
 ('Mike Newell',),
 ('James Wan',),
 ('Barry Sonnenfeld',),
 ('Zack Snyder',),
 ('Sam Mendes',),
 ('Gore Verbinski',),
 ('James Cameron',),
 ('Guy Hamilton',),
 ('Paul Schrader',),
 ('Michael Moore',),
 ('Mel Brooks',),
 ('Sidney Lumet',),
 ('Atom Egoyan',),
 ('Michael Winterbottom',),
 ('Paul Thomas Anderson',),
 ('Catherine Hardwicke',),
 ('Gary Fleder',),
 ('Andy Fickman',),
 ('Jaume Collet-Serra',),
 ('William Friedkin',),
 ('Brian Levant',),
 ('Brian Robbins',),
 ('Roman Polanski',),
 ('Taylor Hackford',),
 ('Stanley Kubrick',),
 ('Cameron Crowe',),
 ('Andy Tennant',),
 ('Robert Luketic',),
 ('Mike Nichols',),
 ('Joe Dante',),
 ('Stephen Hopkins',),
 ('Mark Waters',),
 ('Zhang Yimou',),
 ('Peter Hyams',),
 ('Chuck Russell',),
 ('Adam McKay',),
 ('Michael Mann',),
 ('Raja Gosnell',),
 ('Robert Schwentke',),
 ('Darren Aronofsky',),
 ('Alejandro GonzÃ¡lez IÃ±Ã¡rritu',),
 ('Louis Leterrier',),
 ('Joe Wright',),
 ('David Ayer',),
 ('Jon Favreau',),
 ('Lilly Wachowski',),
 ('McG',),
 ('Peter Berg',),
 ('Chris Weitz',),
 ('Frank Capra',),
 ('Fred Zinnemann',),
 ('Nicole Holofcener',),
 ('Darren Lynn Bousman',),
 ('Michael Polish',),
 ('Brad Anderson',),
 ('Mike Leigh',),
 ('Mira Nair',),
 ('Miguel Arteta',),
 ("Gavin O'Connor",),
 ('Jason Friedberg',),
 ('Alexander Payne',),
 ('Jason Reitman',),
 ('Tobe Hooper',),
 ('Scott Hicks',),
 ('Kirk Jones',),
 ('Steve Miner',),
 ('Norman Jewison',),
 ('Stephen Daldry',),
 ('Nicholas Stoller',),
 ('Anne Fletcher',),
 ('John Glen',),
 ('David Lynch',),
 ('David R. Ellis',),
 ('David Zucker',),
 ('Richard LaGravenese',),
 ('Andrew Niccol',),
 ('John Landis',),
 ('Brian Helgeland',),
 ('John Whitesell',),
 ('Richard Lester',),
 ('John Frankenheimer',),
 ('Wayne Wang',),
 ('John Madden',),
 ('Uwe Boll',),
 ('David Koepp',),
 ('Rod Lurie',),
 ('Jean-Pierre Jeunet',),
 ('Kenny Ortega',),
 ('Robert Redford',),
 ('Tim Hill',),
 ('Larry Charles',),
 ('Lawrence Kasdan',),
 ('Andrzej Bartkowiak',),
 ('George Clooney',),
 ('Judd Apatow',),
 ('Jonathan Demme',),
 ('Les Mayfield',),
 ('Gary Winick',),
 ('Nancy Meyers',),
 ('Sydney Pollack',),
 ('Ben Stiller',),
 ('Luc Besson',),
 ('Tom Tykwer',),
 ('Paul Weitz',),
 ('Peter Chelsom',),
 ('Jan de Bont',),
 ('George Lucas',),
 ('Paul Verhoeven',),
 ('Bill Condon',),
 ('Jon M. Chu',),
 ('Alex Proyas',),
 ('Lee Tamahori',),
 ('Rob Minkoff',),
 ('Jonathan Liebesman',),
 ('Michael Apted',),
 ('Francis Lawrence',),
 ('Kevin Reynolds',),
 ('Justin Lin',),
 ('Guillermo del Toro',),
 ('Rob Marshall',),
 ('Andrew Adamson',),
 ('Alex Kendrick',),
 ('John Ford',),
 ('Richard Brooks',),
 ('Edward Burns',),
 ('Billy Wilder',),
 ('Shane Meadows',),
 ('Sam Peckinpah',),
 ('John Sayles',),
 ('Jay Duplass',),
 ('Jaume BalaguerÃ³',),
 ('Christopher Guest',),
 ('John Erick Dowdle',),
 ('Mike Judge',),
 ('Rick Famuyiwa',),
 ('Peter Cattaneo',),
 ('Mark L. Lester',),
 ('Nicolas Winding Refn',),
 ('Rob Zombie',),
 ('Jeff Nichols',),
 ('Bob Clark',),
 ('Amy Heckerling',),
 ('Andrew Fleming',),
 ('Jeff Tremaine',),
 ('Richard Fleischer',),
 ('Bille Woodruff',),
 ('David Lean',),
 ('James Gray',),
 ('Richard Attenborough',),
 ('Sergio Leone',),
 ('Vincenzo Natali',),
 ('Jonathan Levine',),
 ('David Wain',),
 ('George Tillman, Jr.',),
 ('Hayao Miyazaki',),
 ('Ronny Yu',),
 ('Hugh Wilson',),
 ('Alexandre Aja',),
 ('Luke Greenfield',),
 ('Robert Wise',),
 ('Jonathan Lynn',),
 ('Dennie Gordon',),
 ('Sofia Coppola',),
 ('Irwin Winkler',),
 ('Jake Kasdan',),
 ('Nick Cassavetes',),
 ('Ken Kwapis',),
 ('Bruce Beresford',),
 ('Burr Steers',),
 ('Simon Wincer',),
 ('Peter Howitt',),
 ('Russell Mulcahy',),
 ('Terence Young',),
 ('Penny Marshall',),
 ('James Wong',),
 ('Patrick Lussier',),
 ('John Stockwell',),
 ('Adrian Lyne',),
 ('James McTeigue',),
 ('Peter Hewitt',),
 ('Frank Marshall',),
 ('Steve Oedekerk',),
 ('Pierre Morel',),
 ('David Dobkin',),
 ('Terrence Malick',),
 ('Jay Chandrasekhar',),
 ('Gabriele Muccino',),
 ('Sam Weisman',),
 ('Brian Taylor',),
 ('Sean Anders',),
 ('John Dahl',),
 ('Iain Softley',),
 ('Walter Hill',),
 ('Harold Becker',),
 ('David Frankel',),
 ('Keenen Ivory Wayans',),
 ('Rob Bowman',),
 ('Craig Gillespie',),
 ('Alejandro AmenÃ¡bar',),
 ('Mikael HÃ¥fstrÃ¶m',),
 ('Michael Caton-Jones',),
 ('Jonathan Frakes',),
 ('Randall Wallace',),
 ('Betty Thomas',),
 ('Frank Darabont',),
 ('Steve Carr',),
 ('Ron Shelton',),
 ('Jerry Zucker',),
 ('Steven Brill',),
 ('Scott Derrickson',),
 ('D.J. Caruso',),
 ('Jon Amiel',),
 ('Edgar Wright',),
 ('Tarsem Singh',),
 ('Andrew Davis',),
 ('Martin Brest',),
 ('Jean-Jacques Annaud',),
 ('Neil Burger',),
 ('Walt Becker',),
 ('Timur Bekmambetov',),
 ('Phil Lord',),
 ('John Lee Hancock',),
 ('John Moore',),
 ('Brad Silberling',),
 ('Spike Jonze',),
 ('Michel Gondry',),
 ('Roger Spottiswoode',),
 ('David Twohy',),
 ('Carlos Saldanha',),
 ('Alfonso CuarÃ³n',),
 ('Peyton Reed',),
 ('Peter Weir',),
 ('Dean Parisot',),
 ('Paul Feig',),
 ('David Bowers',),
 ('Joe Johnston',),
 ('Gavin Hood',),
 ('Eric Darnell',),
 ('Matthew Vaughn',),
 ('Jonathan Mostow',),
 ('Brad Bird',),
 ('Mike Mitchell',),
 ('Matt Reeves',),
 ('Stephen Sommers',),
 ('Baz Luhrmann',),
 ('J.J. Abrams',),
 ('John Lasseter',),
 ('Anthony Russo',),
 ('Andrew Stanton',),
 ('Kelly Reichardt',),
 ('Elia Kazan',),
 ('Lloyd Kaufman',),
 ('David Hand',),
 ('Charles Ferguson',),
 ('George Sidney',),
 ('Victor Fleming',),
 ('Todd Solondz',),
 ('Michael Tiddes',),
 ('Don Coscarelli',),
 ('Michael Curtiz',),
 ('James Cox',),
 ('Jon Knautz',),
 ('John Cameron Mitchell',),
 ('King Vidor',),
 ('Eli Roth',),
 ('Thomas Vinterberg',),
 ('Gurinder Chadha',),
 ('Noah Baumbach',),
 ('Morgan Spurlock',),
 ('Peter Sollett',),
 ('Michael Schultz',),
 ('James DeMonaco',),
 ('Park Chan-wook',),
 ('Jane Campion',),
 ('Franklin J. Schaffner',),
 ('John Waters',),
 ('Davis Guggenheim',),
 ('Randal Kleiser',),
 ('Lars von Trier',),
 ('Stefan Ruzowitzky',),
 ('James Foley',),
 ('Gina Prince-Bythewood',),
 ('Robert Iscove',),
 ('Joe Nussbaum',),
 ('Kasi Lemmons',),
 ('Michael Haneke',),
 ('John Boorman',),
 ('Nicholas Hytner',),
 ('Robert Altman',),
 ('Anand Tucker',),
 ('Todd Haynes',),
 ('J.C. Chandor',),
 ('Jonathan Glazer',),
 ('Stephen Chow',),
 ('Mike Binder',),
 ('Shana Feste',),
 ('Henry Joost',),
 ('William Brent Bell',),
 ('Anton Corbijn',),
 ('Trey Parker',),
 ('Brian Trenchard-Smith',),
 ('Douglas McGrath',),
 ('Neil LaBute',),
 ('Leonard Nimoy',),
 ('John Hillcoat',),
 ('Richard Benjamin',),
 ('Patricia Riggen',),
 ('John Schlesinger',),
 ('Richard Kelly',),
 ('Victor Salva',),
 ('Joe Carnahan',),
 ('Charles Herman-Wurmfeld',),
 ('Michael Hoffman',),
 ('Fernando Meirelles',),
 ('Jodie Foster',),
 ('Jeff Wadlow',),
 ('Niki Caro',),
 ('Paul Haggis',),
 ('Kimberly Peirce',),
 ('Lewis Gilbert',),
 ('Jared Hess',),
 ('Neil Marshall',),
 ('Boaz Yakin',),
 ('Tony Kaye',),
 ('Jean-Marc VallÃ©e',),
 ('Michael Ritchie',),
 ('Kevin Rodney Sullivan',),
 ('Chris Rock',),
 ('Steve Pink',),
 ('Charles Martin Smith',),
 ('Wong Kar-wai',),
 ('Richard Shepard',),
 ('Jean-Marie PoirÃ©',),
 ('Stephen T. Kay',),
 ('Greg Mottola',),
 ('NimrÃ³d Antal',),
 ('Mark Pellington',),
 ('Barbra Streisand',),
 ('Reginald Hudlin',),
 ('John Hamburg',),
 ('Roger Kumble',),
 ('Paul McGuigan',),
 ('Oliver Parker',),
 ('George P. Cosmatos',),
 ('John Schultz',),
 ('Julie Taymor',),
 ('Roger Michell',),
 ('Thomas Carter',),
 ('Denis Villeneuve',),
 ('Brad Furman',),
 ('Warren Beatty',),
 ('Olivier Megaton',),
 ('Richard Curtis',),
 ('Danny DeVito',),
 ('Jim Sheridan',),
 ('Carl Franklin',),
 ('Howard Deutch',),
 ('Richard Loncraine',),
 ('Rawson Marshall Thurber',),
 ('MiloÅ¡ Forman',),
 ('Scott Cooper',),
 ('Shekhar Kapur',),
 ('Alan Parker',),
 ('Tom Dey',),
 ('Jesse Dylan',),
 ('Walter Salles',),
 ('Kevin Macdonald',),
 ('Ruben Fleischer',),
 ('John Pasquin',),
 ('Griffin Dunne',),
 ('Jon Avnet',),
 ('Jay Russell',),
 ('Marc Lawrence',),
 ('Baltasar KormÃ¡kur',),
 ('Michael Lehmann',),
 ('Glenn Ficarra',),
 ('Will Gluck',),
 ('Angelina Jolie',),
 ('Nora Ephron',),
 ('Tom Hooper',),
 ('Seth MacFarlane',),
 ('David Slade',),
 ('Gregory Hoblit',),
 ('Mel Gibson',),
 ('Kevin Costner',),
 ('Albert Hughes',),
 ('Anthony Minghella',),
 ('Seth Gordon',),
 ('Mimi Leder',),
 ('Daniel Espinosa',),
 ('Genndy Tartakovsky',),
 ('Gary Ross',),
 ('John Milius',),
 ('Kathryn Bigelow',),
 ('Thor Freudenthal',),
 ('Don Michael Paul',),
 ('Ron Underwood',),
 ('Chris Wedge',),
 ('Mark Dindal',),
 ('Dominic Sena',),
 ('Ron Clements',),
 ('Len Wiseman',),
 ('Brad Peyton',),
 ('James L. Brooks',),
 ('Neill Blomkamp',),
 ('Tony Gilroy',),
 ('Breck Eisner',),
 ('Simon Wells',),
 ('Christopher McQuarrie',),
 ('Duncan Jones',),
 ('James Bobin',),
 ('James Gunn',),
 ('Chris Sanders',),
 ('Roland JoffÃ©',),
 ('Conrad Vernon',),
 ('Pete Docter',),
 ('Marc Webb',),
 ('David Yates',),
 ('Joss Whedon',),
 ('Andrew Bujalski',),
 ('Travis Legge',),
 ('Jean-Luc Godard',),
 ('Joel Paul Reisig',),
 ('Joe Swanberg',),
 ('Greg Harrison',),
 ('Kurt Hale',),
 ('Pan Nalin',),
 ('Ben Wheatley',),
 ('C. Jay Cox',),
 ('Richard Schenkman',),
 ('David DeCoteau',),
 ('Ti West',),
 ('Mike Cahill',),
 ('Jamie Babbit',),
 ('Steve Buscemi',),
 ('Robert Greenwald',),
 ('J. Lee Thompson',),
 ('Chris Kentis',),
 ('Larry Clark',),
 ('Jon Gunn',),
 ('Ning Hao',),
 ('Stacy Peralta',),
 ('PaweÅ‚ Pawlikowski',),
 ('Victor Nunez',),
 ('Craig Moss',),
 ('Whit Stillman',),
 ('Michael Landon Jr.',),
 ('Darren Stein',),
 ('Jill Sprecher',),
 ('Patricia Cardoso',),
 ('Ted Post',),
 ('Karen Moncrieff',),
 ('Mike Mills',),
 ('Allison Anders',),
 ('Roger Avary',),
 ('DJ Pooh',),
 ('Mike Figgis',),
 ('Nick Love',),
 ('Jonas Ã…kerlund',),
 ('Walter Lang',),
 ('John Huston',),
 ('Nick Murphy ',),
 ('Paul Andrew Williams',),
 ('Oren Peli',),
 ('Morgan J. Freeman',),
 ('Jeremy Saulnier',),
 ('Fenton Bailey',),
 ('Michael Cuesta',),
 ('Richard Glatzer',),
 ('Jesse Peretz',),
 ('Mike Flanagan',),
 ('James Toback',),
 ('CÃ©dric Klapisch',),
 ('William Kaufman',),
 ('Patrick Stettner',),
 ('Zach Braff',),
 ('George Roy Hill',),
 ('Zal Batmanglij',),
 ('Shari Springer Berman',),
 ('Lynne Ramsay',),
 ('Mitch Davis',),
 ('Ernie Barbarash',),
 ('Rodrigo GarcÃ­a',),
 ('Tony Richardson',),
 ('Ol Parker',),
 ('Michael Corrente',),
 ('John Carney',),
 ('Steve James',),
 ('Ryan Fleck',),
 ('FranÃ§ois Ozon',),
 ('Matty Rich',),
 ('Troy Duffy',),
 ('Martin Lawrence',),
 ('Chris Stokes',),
 ('Stewart Raffill',),
 ('Tamara Jenkins',),
 ('Yash Chopra',),
 ('Stanley Kramer',),
 ('Julian Gilbey',),
 ('Vic Sarin',),
 ('Claude Chabrol',),
 ('Vincent Gallo',),
 ('Bob Odenkirk',),
 ('Richard Kwietniowski',),
 ('Eric Bross',),
 ('David Schwimmer',),
 ('Joseph Zito',),
 ('Salim Akil',),
 ('Marcus Raboy',),
 ('Carol Reed',),
 ('LÃ©a Pool',),
 ('Karan Johar',),
 ('David Hackl',),
 ('John Turturro',),
 ('Martin Ritt',),
 ('Simon Curtis',),
 ('Akira Kurosawa',),
 ('Christopher Smith',),
 ('Marco Kreuzpaintner',),
 ('Carroll Ballard',),
 ('Ira Sachs',),
 ('Stuart Gordon',),
 ('Jake Schreier',),
 ('Tamra Davis',),
 ('William Dear',),
 ('George Hickenlooper',),
 ('Mark Herman',),
 ('Isabel Coixet',),
 ('Bob Saget',),
 ('Daisy von Scherler Mayer',),
 ('Mark Brown',),
 ('Sam Miller',),
 ('Preston A. Whitmore II',),
 ('Christopher Cain',),
 ('Danny Leiner',),
 ('Kenneth Lonergan',),
 ('Todd Field',),
 ('Julian Schnabel',),
 ('Tom Holland',),
 ('Jamie Blanks',),
 ('Mark Romanek',),
 ('Mary Lambert',),
 ('Martin McDonagh',),
 ('David Raynr',),
 ('Craig Brewer',),
 ('Brian Koppelman',),
 ('Lone Scherfig',),
 ('Douglas Aarniokoski',),
 ('Stephan Elliott',),
 ('Derek Cianfrance',),
 ('Michael Mayer',),
 ('Elizabeth Allen Rosenbaum',),
 ('Denzel Washington',),
 ('James Marsh',),
 ('James Watkins',),
 ('Gillian Armstrong',),
 ('Morten Tyldum',),
 ('Tommy Lee Jones',),
 ('Gaspar NoÃ©',),
 ('Adam Rifkin',),
 ('Clare Kilner',),
 ('Sheldon Lettich',),
 ('Vadim Perelman',),
 ('Julian Jarrold',),
 ('Steven Shainberg',),
 ('Howard Zieff',),
 ('Jack Smight',),
 ('Rowdy Herrington',),
 ('Wayne Kramer',),
 ('Robert Harmon',),
 ('Kevin Greutert',),
 ('Xavier Gens',),
 ('Rodrigo CortÃ©s',),
 ('Olivier Assayas',),
 ('Gregor Jordan',),
 ('Courtney Solomon',),
 ('Bart Freundlich',),
 ('Kevin Tancharoen',),
 ('Sean McNamara',),
 ('Terry Zwigoff',),
 ('Daniel Barnz',),
 ('Michael Dowse',),
 ('Mark Rosman',),
 ('Katsuhiro ÅŒtomo',),
 ('Charlie Kaufman',),
 ('Paul Gross',),
 ('Alejandro Monteverde',),
 ('Glen Morgan',),
 ('Michael O. Sajbel',),
 ('Billy Ray',),
 ('Chris Koch',),
 ('Steve Rash',),
 ('Ed Harris',),
 ('Thomas Bezucha',),
 ('Eric Valette',),
 ('Nelson McCormick',),
 ('Steve Beck',),
 ('Takashi Shimizu',),
 ('Tom McCarthy',),
 ('Ava DuVernay',),
 ('Jon Lucas',),
 ('Steve McQueen',),
 ('Jeannot Szwarc',),
 ('Stuart Gillard',),
 ('Juan JosÃ© Campanella',),
 ('John Curran',),
 ('Rowan Joffe',),
 ('Blake Edwards',),
 ('Uli Edel',),
 ('Deborah Kaplan',),
 ('Jessie Nelson',),
 ('Anne Fontaine',),
 ('Tony Goldwyn',),
 ('Kevin Spacey',),
 ('George Gallo',),
 ('Mario Van Peebles',),
 ('Teddy Chan',),
 ('Werner Herzog',),
 ('Rachel Talalay',),
 ('Craig R. Baxley',),
 ('Bruce McCulloch',),
 ('Bill Paxton',),
 ('Sylvain White',),
 ('Nigel Cole',),
 ('John Wells',),
 ('Guillaume Canet',),
 ('Dwight H. Little',),
 ('Fred Wolf',),
 ('Bernardo Bertolucci',),
 ('John Polson',),
 ('Bob Rafelson',),
 ('Kevin Allen',),
 ('E. Elias Merhige',),
 ('Philip Kaufman',),
 ('Todd Graff',),
 ('Sanaa Hamri',),
 ('Callie Khouri',),
 ('Nicholas Meyer',),
 ('Richard Eyre',),
 ('Camille Delamarre',),
 ('Norton Virgien',),
 ('Ben Falcone',),
 ('Laurent Tirard',),
 ('Andrew Dominik',),
 ('Steve Boyum',),
 ('Michael Radford',),
 ('Kim Jee-woon',),
 ('Kurt Wimmer',),
 ('Charles Stone III',),
 ('Brett Leonard',),
 ('Tate Taylor',),
 ('Phil Joanou',),
 ('Tom Hanks',),
 ('John R. Leonetti',),
 ('Tim McCanlies',),
 ('Lee Toland Krieger',),
 ('Chris Noonan',),
 ('Rian Johnson',),
 ('Tom Vaughan',),
 ('J.B. Rogers',),
 ('Ariel Vromen',),
 ('Tim Robbins',),
 ('Shim Hyung-Rae',),
 ('John Luessenhop',),
 ('Danny Cannon',),
 ('Ben Stassen',),
 ('Hugh Hudson',),
 ('Ken Scott',),
 ('Jean-Paul Rappeneau',),
 ('Bille August',),
 ('Craig Mazin',),
 ("Tommy O'Haver",),
 ('Susanna White',),
 ('Michael Rymer',),
 ('Gil Junger',),
 ('Mike Tollin',),
 ('Kevin Munroe',),
 ('Irvin Kershner',),
 ('Ryan Coogler',),
 ('David Leland',),
 ('Jeb Stuart',),
 ('Lee Daniels',),
 ('Luis Mandoki',),
 ('Bong Joon-ho',),
 ('Geoffrey Sax',),
 ('Christian Alvart',),
 ('Jerry Jameson',),
 ('William Malone',),
 ('Juan Antonio Bayona',),
 ('Joseph Kahn',),
 ('Frederik Du Chau',),
 ('Justin Chadwick',),
 ('Christian Duguay',),
 ('Colin Strause',),
 ('Peter Hedges',),
 ('Sam Taylor-Johnson',),
 ('John G. Avildsen',),
 ('Seth Rogen',),
 ('Julie Anne Robinson',),
 ('John Herzfeld',),
 ('Nick Park',),
 ('Michael Cimino',),
 ('Brian Gibson',),
 ('Ben Affleck',),
 ('Danny Pang',),
 ('Billy Bob Thornton',),
 ('Sean Penn',),
 ('Mathieu Kassovitz',),
 ('John A. Davis',),
 ('Joel Zwick',),
 ('Luis Llosa',),
 ('Deepa Mehta',),
 ('George Armitage',),
 ('Patrick Read Johnson',),
 ('Costa-Gavras',),
 ('Peter Webber',),
 ('Barbet Schroeder',),
 ('Andrew Bergman',),
 ('Steven Quale',),
 ('Jon Hurwitz',),
 ('Stephen Gaghan',),
 ('Tommy Wirkola',),
 ('Angela Robinson',),
 ('Bennett Miller',),
 ('Joe Roth',),
 ('Phyllida Lloyd',),
 ('Jim Gillespie',),
 ('Ronald F. Maxwell',),
 ('Karyn Kusama',),
 ('Akiva Schaffer',),
 ('Jimmy Hayward',),
 ('Kevin Bray',),
 ('Harald Zwart',),
 ('Scott Stewart',),
 ('Stuart Baird',),
 ('Steven Zaillian',),
 ('David McNally',),
 ('Ryan Murphy',),
 ('Wes Ball',),
 ('Josh Gordon',),
 ('Daniel Lee',),
 ('David S. Goyer',),
 ('Michael Lembeck',),
 ('Mikael Salomon',),
 ('Clark Johnson',),
 ('Henry Selick',),
 ('Gary Goldman',),
 ('Gil Kenan',),
 ('Vicky Jenson',),
 ('Pierre Coffin',),
 ('Stephen Norrington',),
 ('Oliver Hirschbiegel',),
 ('Jacques Perrin',),
 ('Eric Brevig',),
 ('Karey Kirkpatrick',),
 ('Sylvester Stallone',),
 ('Pete Travis',),
 ('Bob Fosse',),
 ('Barry Cook',),
 ('Kevin Lima',),
 ('Andrei Konchalovsky',),
 ('Alan J. Pakula',),
 ('Mick Jackson',),
 ('Rupert Wyatt',),
 ('Sergei Bodrov',),
 ('David Mamet',),
 ('Steve Martino',),
 ('Lawrence Guterman',),
 ('Florian Henckel von Donnersmarck',),
 ('Gary Trousdale',),
 ('Rob Letterman',),
 ('Josh Trank',),
 ('Dave Green',),
 ('JosÃ© Padilha',),
 ('Mark Steven Johnson',),
 ('Tim Johnson',),
 ('Mark Osborne',),
 ('Jennifer Yuh Nelson',),
 ('Alan Taylor',),
 ('Chris Miller',),
 ('Chris Williams',),
 ('Joseph Kosinski',),
 ('Shane Black',),
 ('Colin Trevorrow',),
 ('Brian Herzlinger',),
 ('Daniel Hsia',),
 ('Scott Smith',),
 ('Neill Dela Llana',),
 ('Shane Carruth',),
 ('Ash Baron-Cohen',),
 ('Thomas L. Phillips',),
 ('Tadeo Garcia',),
 ('Kiyoshi Kurosawa',),
 ('Ivan Kavanagh',),
 ('Jafar Panahi',),
 ('Jason Trost',),
 ('Daryl Wein',),
 ('Jim Chuchu',),
 ('Marcus Nispel',),
 ('Joseph Mazzella',),
 ('Eric Eason',),
 ('James Bidgood',),
 ('Damir Catic',),
 ('Mike Bruce',),
 ('Bradley Rust Gray',),
 ('Collin Joseph Neal',),
 ('Kirk Loudon',),
 ('Kevin Jordan',),
 ('Malcolm Goodwin',),
 ('Chad Hartigan',),
 ('Patrick Meaney',),
 ('William Eubank',),
 ('Dave Carroll',),
 ('Andrew Leman',),
 ('Jem Cohen',),
 ('Daniel Mellitz',),
 ('Terron R. Parsons',),
 ('Lena Dunham',),
 ('Bruno Barreto',),
 ('Matt Johnson',),
 ('Daniel Schechter',),
 ('Wade Gasque',),
 ('Joseph Green',),
 ('Brandon Trost',),
 ('Brett Piper',),
 ('Myles Berkowitz',),
 ('Julie Davis',),
 ('Sut Jhally',),
 ('Jason Miller',),
 ('LÃ¡szlÃ³ Benedek',),
 ('Patrick Ryan Sims',),
 ('John Reinhardt',),
 ('Dan Reed',),
 ('Lisanne Pajot',),
 ('E.L. Katz',),
 ('Stephen Langford',),
 ('Larry Blamire',),
 ('Jamaa Fanaka',),
 ('Robert Townsend',),
 ('Travis Cluff',),
 ('Nathan Smith Jones',),
 ('Nate Parker',),
 ('David Hewlett',),
 ('Lynn Shelton',),
 ('Sai Varadan',),
 ('Sara Newens',),
 ('Deborah Anderson',),
 ('Dena Seidel',),
 ('Bill Melendez',),
 ('Eric Bugbee',),
 ('Pat Holden',),
 ('Michel O. Scott',),
 ('Robinson Devor',),
 ('Ken Roht',),
 ('Melvin Van Peebles',),
 ('Nicolae Constantin Tanase',),
 ('Cary Bell',),
 ('Andrew Haigh',),

In [43]:
cur.execute('select name,count(title),sum(budget) from movies inner join directors on movies.director_id = directors.id group by director_id order by sum( budget) desc limit 5,10')

In [44]:
cur.fetchall()

[('Gore Verbinski', 7, 1107000000),
 ('Christopher Nolan', 8, 1005000000),
 ('Tim Burton', 14, 997000000),
 ('Robert Zemeckis', 13, 990000000),
 ('Ron Howard', 13, 974000000),
 ('Sam Raimi', 11, 923950000),
 ('Martin Scorsese', 20, 902600000),
 ('Roland Emmerich', 8, 868500000),
 ('Zack Snyder', 7, 860000000),
 ('Brett Ratner', 9, 813000000)]

In [45]:
##details of top 10 revenue making movies
## top 10 most popular movies
## top 10 most sucessfull directors in terms of revenue.

In [46]:
cur.execute('select title from movies order by revenue desc limit 10')

In [47]:
cur.fetchall()

[('Avatar',),
 ('Titanic',),
 ('The Avengers',),
 ('Jurassic World',),
 ('Furious 7',),
 ('Avengers: Age of Ultron',),
 ('Frozen',),
 ('Iron Man 3',),
 ('Minions',),
 ('Captain America: Civil War',)]

In [48]:
movies

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4768,48395,El Mariachi,220000,14,1992-09-04,2040920,El Mariachi,6.6,238,El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...",9367,5097
4769,48396,Newlyweds,9000,0,2011-12-26,0,Newlyweds,5.9,5,A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,72766,6485
4770,48397,"Signed, Sealed, Delivered",0,1,2013-10-13,0,"Signed, Sealed, Delivered",7.0,6,"""Signed, Sealed, Delivered"" introduces a dedic...",None,231617,7108
4771,48398,Shanghai Calling,0,0,2012-05-03,0,Shanghai Calling,5.7,7,When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,126186,7109
4772,48399,My Date with Drew,0,1,2005-08-05,0,My Date with Drew,6.3,16,Ever since the second grade when he first saw ...,None,25975,7110

In [49]:
cur.execute('select title, popularity from movies order by popularity desc limit 10')

In [50]:
cur.fetchall()

[('Minions', 875),
 ('Interstellar', 724),
 ('Deadpool', 514),
 ('Guardians of the Galaxy', 481),
 ('Mad Max: Fury Road', 434),
 ('Jurassic World', 418),
 ('Pirates of the Caribbean: The Curse of the Black Pearl', 271),
 ('Dawn of the Planet of the Apes', 243),
 ('The Hunger Games: Mockingjay - Part 1', 206),
 ('Big Hero 6', 203)]

In [59]:
cur.execute('select name,count(title), sum(revenue) from movies inner join directors on movies.director_id = directors.id group by director_id order by count(title) desc limit 10')

In [60]:
cur.fetchall()

[('Steven Spielberg', 27, 9147393164),
 ('Woody Allen', 21, 669101038),
 ('Clint Eastwood', 20, 2512058888),
 ('Martin Scorsese', 20, 1956635998),
 ('Spike Lee', 16, 340618771),
 ('Robert Rodriguez', 16, 1109899581),
 ('Ridley Scott', 16, 3189557997),
 ('Renny Harlin', 15, 1031500590),
 ('Steven Soderbergh', 15, 2114864443),
 ('Oliver Stone', 14, 1278048615)]

In [64]:
### give the title of the movie, release_date, budget, revenue, popularity and vote_cur.eaverage made by steven spielberg
cur.execute('select original_title, release_date, budget, revenue, popularity, vote_average from movies inner join directors on directors.id = movies.director_id where directors.name = "Steven Spielberg"')

In [65]:
pd.DataFrame(cur.fetchall())

,0,1,2,3,4,5
0,Indiana Jones and the Kingdom of the Crystal S...,2008-05-21,185000000,786636033,75,5.7
1,The BFG,2016-06-01,140000000,183345589,44,6.0
2,War of the Worlds,2005-06-28,132000000,591739379,48,6.2
3,The Adventures of Tintin,2011-10-25,130000000,371940071,89,6.7
4,Minority Report,2002-06-20,102000000,358372926,65,7.1
5,A.I. Artificial Intelligence,2001-06-29,100000000,235926552,34,6.8
6,The Lost World: Jurassic Park,1997-05-23,73000000,229074524,2,6.2
7,The Terminal,2004-06-17,60000000,219417255,57,7.0
8,Munich,2005-12-22,70000000,130358911,29,6.9
9,Hook,1991-12-11,70000000,300854823,33,6.6
10,War Horse,2011-12-25,66000000,177584879,29,7.0
11,Saving Private Ryan,1998-07-24,70000000,481840909,76,7.9
12,Lincoln,2012-11-09,65000000,275293450,36,6.7
13,Jurassic Park,1993-06-11,63000000,920100000,40,7.6
14,Catch Me If You Can,2002-12-25,52000000,352114312,73,7.7
15,Indiana Jones and the Last Crusade,1989-05-24,48000000,474171806,80,7.6
16,Bridge of Spies,2015-10-15,40000000,165478348,48,7.2
17,Amistad,1997-12-03,36000000,74000000,3,6.8
18,1941,1979-12-13,35000000,31755742,10,5.6
19,Indiana Jones and the Temple of Doom,1984-05-23,28000000,333000000,66,7.1
20,Schindler's List,1993-11-29,22000000,321365567,104,8.3
21,Raiders of the Lost Ark,1981-06-12,18000000,389925971,68,7.7
22,Close Encounters of the Third Kind,1977-11-16,20000000,303788635,52,7.2
23,The Color Purple,1985-12-18,15000000,146292009,17,7.7
24,Jaws,1975-06-18,7000000,470654000,50,7.5
25,E.T. the Extra-Terrestrial,1982-04-03,10500000,792910554,56,7.3
26,Twilight Zone: The Movie,1983-06-24,10000000,29450919,12,6.2

In [66]:
## the most popular movie that is released after 1st jan 2000
cur.execute("select title from movies where release_date >= 2000-01-01 order by popularity desc limit 1")

In [67]:
cur.fetchall()

[('Minions',)]